body{
    margin: 0;
    padding: 0;
}
.box{
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 5px;
    background: #eee;
}
.box a{
    width: 40px;
    height: 40px;
    float: left;
    text-indent: -9999px;
    margin: 5px;
    cursor: pointer;
}
#red{
    background: red;
}
#green{
    background: green;
}
#blue{
    background: blue;
}
#pink{
    background: pink;
}
#purple{
    background: purple;
}
#yellow{
    background: yellow;
}